<section class="mx-5">
  <h1 class="text-2xl font-bold">Pipes personalizados</h1>
  <h3 class="text-xl font-thin">Pipes creados por nosotros mismos</h3>
</section>

<div class="stats shadow">
  <div class="stat">
    <div class="stat-title">ToggleCase Pipe</div>
    <div class="stat-value">{{name() | toggleCase : upperCase() }}</div>
    <div class="stat-desc">{{name()}}</div>
    <button class="btn btn-primary mt-2" (click)="upperCase.set(!upperCase())">ToggleCase</button>
  </div>
</div>

<div class="divider my-2"></div>

<section class="mb-4">
  <div class="flex justify-between mb-4 mr-4">
    <h1 class="text-2xl font-bold">Pipes personalizados en acción</h1>
    <div>
      <p class="text-lg font-semibold">Ordenado por <span class="text-primary">{{sortBy()}}</span></p>
      <p class="text-lg font-semibold">Filtrado por <span class="text-accent">{{searchQuery()}}</span></p>
    </div>
  </div>
  <div class="flex gap-2 justify-between w-full">

    <div class="flex gap-2 justify-between items-center">
      <p class="mr-4 text-accent font-semibold">Filtrar por:</p>
      <input
        type="text"
        class="input input-bordered w-full max-w-xs flex-1"
        placeholder="Buscar"
        #txtSearch
        (input)="searchQuery.set(txtSearch.value)"
      >
    </div>

    <div class="flex gap-2 justify-between items-center">
      <p class="mr-4 text-secondary font-semibold">Ordenar por:</p>
      <button (click)="sortBy.set('name')" class="btn btn-primary">Nombre</button>
      <button (click)="sortBy.set('canFly')" class="btn btn-accent">Puede volar</button>
      <button (click)="sortBy.set('color')" class="btn btn-secondary">Color</button>
      <button (click)="sortBy.set('creator')" class="btn btn-info">Creador</button>
    </div>

  </div>
</section>

<section class="overflow-x-auto w-full">
  <table class="table table-xs w-full">
    <!-- head -->
    <thead>
      <tr>
        <th></th>
        <th>Nombre</th>
        <th>Puede volar</th>
        <th>Color</th>
        <th>Creador</th>
      </tr>
    </thead>
    <tbody>

      @for (hero of heroes() | heroFilter:searchQuery() | heroSortBy:sortBy(); track hero.id; let i = $index) {

        <tr>
          <td>{{i + 1}}</td>
          <td>{{hero.name}}</td>
          <td>
            <span class="text-xs w-44" [class.text-success]="hero.canFly" [class.text-accent]="!hero.canFly">
              {{hero.canFly | canFly}}
            </span>
          </td>
          <td>
            <span class="text-xs w-44" [style.color]="hero.color | heroTextColor">
              {{hero.color | heroColor | titlecase}}
            </span>
          </td>
          <td>
            <span class="text-xs w-44" [class.text-primary]="hero.creator === 0" [class.text-accent]="hero.creator === 1">
              {{hero.creator | heroCreator}}
            </span>
          </td>
        </tr>

      }

    </tbody>
  </table>
</section>
